:root {
  --font: 'Fira Sans', sans-serif;
  --primary-color: #33518B;
  --secondary-color: #4A3690;
  --accent-color: #97D7D0;
  --green-darken: #1B403C;
  --blue-light: #A1B5DC;
  --subtitles-color: #738CBF;
  --nav-height: 12vh;
  --footer-height: 6vh;
  --content-height: 82vh;
  --page-margin: 64px;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
/*CONTACT */

.contact-engagement {
  text-align: center;
  margin: 3% 0px;
}

.contact-engagement > h1{
  font-size: 3.3vw;
  letter-spacing: 5px;
}

.contact-engagement > p{
  font-size: 2vw;
  letter-spacing: 2px;
}

.contact-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.patas {
  position: absolute;
  left: 10%;
  height: 100%;
  opacity: 32%;
  z-index: -1;
}


.form {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -1;
}

.form-container {
  padding: 32px;
}

.input {
  margin: 2% 0px;
  height: 15%;
  width: 100%;
  background-color: transparent;
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8rem;
}

.input:hover {
  border: 1px solid var(--secondary-color);
}

.input:focus {
  border: 1.5px solid var(--secondary-color);
}


.text-area:hover {
  border: 1px solid var(--secondary-color);
}

.text-area:focus {
  border: 1.5px solid var(--secondary-color);
}

.colab {
 width: 25vw;
 margin-left: 10vw;
}

.colab-img {
  position: relative;
  width: 100%;
  z-index: -1;
}

.text-area {
  background-color: transparent;
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  margin: 2% 0px;
  height: 25%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: .8rem;
}


/* SERVICES */

.service-content {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.service-content > .service-description {
  box-shadow: 0px 10px 0px #96D9D4;
}

.service-description > h1.title {
  font-size: 3.3vw;
  letter-spacing: 5px;
  margin: 24px 0px;
}

.service-description > p.subtitle {
  font-size: 2vw;
  letter-spacing: 2px;
  margin: 0px 0px 24px 0px;
}

.block-btn {
  display: flex;
  flex-direction: column;
}

.block-btn > .btn {
  width: 18vw;
  background-color: var(--accent-color);
  padding: 16px 8px;
  margin: 16px 0px 16px 64px;
}

.btn > .service-btn { 
  padding-top: 5px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: var(--green-darken);
  align-items: center;
}

.btn > .icon-phone {
  background: url(icons/phone.png) no-repeat;
  background-size: 45%;
  float: left;
  width: 70px;
  height: 30px;
}

.btn > .icon-heart {
  background: url(icons/heart.png) no-repeat;
  background-size: 50%;
  float: left;
  width: 70px;
  height: 30px;
}

.btn:hover {
  transition: ease-in-out background-color .5s;
  background-color: var(--blue-light);
}

.service-examples {
  margin: 128px var(--page-margin);
}

.services {
  margin: 0px 50px 50px 50px ;
}

.service-item {
  display: flex;
  flex-direction: row;
}

.block-image > .image {
  background-size: 100%;
  width: 500px;
  height: 350px;
}

.block-image > .image.websites {
  background: url(images/websites.png) no-repeat;
}

.block-image > .image.webapps {
  background: url(images/webapps.png) no-repeat;
}

.block-image > .image.apps {
  background: url(images/apps.png) no-repeat;
}

.service-item > .service-explanation {
  margin: 150px 0px 150px 300px;
}

.service-item > .inverse {
  margin: 150px 300px 150px 0px;
}

.service-explanation > .service-title {
  color: var(--subtitles-color);
}

.rooster-feets {
  position: absolute;
  width: 209px;
  height: 582px;
  left: 560px;
  bottom: -550px;
  background: url(images/roosterFeet.png) no-repeat;
  transform: rotate(-120deg);
}

.second-path {
  bottom: -1050px;
  transform: rotate(115deg);
}

/* INDEX */

.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MENU */
div.menu {
  z-index: 0;
  position: fixed;
  height: 100vh;
  transform: translateY(-100%);
  background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('images/mmmpatas-mobile.png');
  background-repeat: no-repeat;
  background-position: center;
}

div.menu {
  position: fixed;
  background-color: white;
  height: 100vh;
  width: 100vw;
  transform: translateY(-100%);
  transition: transform .7s ease-in-out,visibility 0s .4s;
}

div.menu-open {
  transform: translateY(0);
}

/* ABOUT US */
.left-panel {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color:var(--primary-color);
  z-index: 1;
  transform: translateX(-100%);
}

.right-panel {
  position: fixed;
  width: 50vw;
  height: 100vh;
  background-color:var(--primary-color);
  z-index: 1;
  transform: translateX(200%);
}

.toggle-l {
  transform: translateX(0%);
  transition: cubic-bezier(.8,-0.49,.36,1) .9s;
}

.toggle-r {
  transform: translateX(100%) !important;
  transition: cubic-bezier(.8,-0.49,.36,1) .9s;
}

.about {
  position: fixed;
  transform: translateY(-100%);
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.us {
  transition: 1.2s transform ease-in-out .8s;
  transform: translateY(0%);
  z-index: 4;
}

.grouper {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 64px 64px;
}

.gaio {
  width: 10%;
  width: 10%;
  font-size: 1.2vw;
  text-align: center;
}

.gaio-img {
  width: 100%;
  margin: 24px 0px;
  box-shadow: 2px 2px 10px black;
}

/* NAVBAR */
.landing-page > .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--nav-height);
}

.logo {
  width: 128px;
}

.logo-img {
  height: 100%;
  padding: 8px 0px 8px 64px;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 762px;
  justify-content: space-between;
  margin: 0px 64px; 
}

.nav-link {
  font-size: 1.6vw;
  margin: 0px 2%; 
}

.nav-link > a {
  text-decoration: none;
  color: black;
}

.nav-link > a:visited {
  color: black;
}

.nav-link> a:hover {
  color: var(--blue-light);
  transition: ease-in-out color .3s;
}

/* CONTENT */
.content {
  position: relative;
  height: var(--content-height);  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px var(--page-margin);
}

.info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
  height: 556px;
}

img.bg {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 32%;
}

.info > h1.title {
  font-size: 3.3vw;
  letter-spacing: 5px;
  margin: 24px 0px;
}

.info > p.subtitle {
  font-size: 2vw;
  letter-spacing: 2px;
  margin: 0px 0px 24px 0px;
}

.call2action {
  text-decoration: none;
  font-size: 1vw;
  background-color: var(--accent-color);
  color: var(--green-darken);
  padding: 8px 32px;
  font-weight: bold;
  width: 15vw;
  text-align: center;
  z-index: 5;
}

a.call2action:hover {
  transition: ease-in-out background-color .5s;
  background-color: var(--blue-light);
}

figure.work {
  align-self: flex-end;
  justify-self: flex-end;
}

figure.work > img.work-img {
  width: 30vw;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8vw;
  text-align: center;
  bottom: 0;
  height: var(--footer-height);
}


@media screen and (max-width: 426px) {

  /* SERVICES */

  .service-content {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }  

  .service-content > .service-description {
    margin: 0px 24px;
    max-width: 100%;
    text-align: center;
  }

  .service-description {
    
    margin-bottom: 1rem;
  }

  .service-description > h1.title {
    font-size: 1.9rem;
    letter-spacing: 0px;
    margin: 16px 0px;
  }

  .service-description > p.subtitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: 16px 0px;
  }

  .block-btn > .btn {
    width: 160px;
    height: 50px;
    margin: 32px 0px 0px 0px;
  }

  .btn > .service-btn {
    font-size: 1rem;
  }

  .btn > .icon-phone {
    background-size: 50%;
    width: 40px;
  }

  .btn > .icon-heart {
    background-size: 50%;
    width: 40px;
  }

  .service-examples {
    margin: 0px;
  }

  .service-item {
    display: flex;
    flex-direction: column;   
  }

  .block-image > .image {
    background-size: 0;
    width: 0px;
    height: 0px;
  }

  .block-image > .image.websites,
  .block-image > .image.webapps,
  .block-image > .image.apps {
    background: none;
  }

  .rooster-feets {
    background: none;
    position: none;
    width: 0px;
    height: 0px;
    left: 0px;
    bottom: 0px;
  }

  .service-item > .service-explanation {
    margin: 0px;
  }

  .block-image > .mobile-image.websites {
    background: url(images/websites.png) no-repeat;
    background-size: 105%;
    width: 330px;
    height: 300px;
  }
  
  .block-image > .mobile-image.webapps {
    background: url(images/webapps.png) no-repeat;
    background-size: 105%;
    width: 330px;
    height: 300px;
  }
  
  .block-image > .mobile-image.apps {
    background: url(images/apps.png) no-repeat;
    background-size: 105%;
    width: 330px;
    height: 300px;
  }

  /* INDEX */
  
  .nav-links {
    display: none;
  }

  .nav-mobile {
    height: 100%;
    padding: 128px 0px 128px 64px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    list-style: none;
  }

  .nav-link {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .nav-link:hover {
    color: var(--blue-light);
    transition: ease-in-out color .3s;
  }

  .burger-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30px;
    margin: 16px 24px;
    z-index: 1;
  }
  
  .burgerln {
    width: 100%;
    height: 4px;
    background-color: black;
    margin: 3px 0;
  }
  
  .burgerln:nth-child(2) {
    width: 75%;
  }
  
  .burgerln:nth-child(3) {
    width: 50%;
  }

  .logo {
    z-index: 1;
  }

  .logo-img {
    padding-left: 24px;
    height: 80%;
  }
  
  .content {
    z-index: -1;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
  }

  .info {
    margin: 0px 24px;
    max-width: 100%;
    text-align: center;
  }

  .info > h1.title {
    font-size: 1.9rem;
    letter-spacing: 0px;
  }

  .info > p.subtitle {
    font-size: 1.3rem;
    letter-spacing: 1px;
  }

  a.call2action {
    align-self: center;
    width: 160px;
    height: 40px;
    font-size: 1rem;
  }

  figure.work {
    align-self: center;
  }

  figure.work > img.work-img {
    width: 70vw;
  }

  .bg {
    display: none;
  }

  main.content {
    background:linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url('images/mmmpatas-mobile.png');
    background-repeat: no-repeat;
    background-position: center;
  }

  .footer {
    font-size: 2.5vw;
  }

  /* CONTACT */
  .contact-engagement {
    margin: 0px 32px;
  }

  .contact-container {
    width: 100vw;
    flex-direction: column;
  }

  .form-container {
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .colab {
    align-self: center;
    width: 150px;
  } 

  .contact-engagement > h1 {
    font-size: 8vw;
    letter-spacing: 2px;
  }

  .contact-engagement > p {
    font-size: 4vw;
    letter-spacing: 1.5px;
  }

  .patas {
    display: none;
  }

}

@media screen and (max-width: 768px) and (min-width: 427px) {
  .footer {
    font-size: 1.5vw;
  }

  .nav-link {
    font-size: 2.3vw;
  }

  .colab {
    position: relative;
    margin-left: 0;
  }
  /* CONTACT */
  .colab-img {
    position: absolute;
    top: 20%;
  }
}